---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

$bfs: 1rem;

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 18px/1.4 $font;
  color: $darkGray;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: $font;
}


.content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1200px;
}



/**************/
/* Header     */
/**************/

.site-avatar{
	height: 120px;
}



section{
	border-top: dotted 4px $mi-pink;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
